# {{ ansible_managed }}

# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

# The loopback network interface
auto lo
iface lo inet loopback

# DHCP interfaces
{% for interface in dnsmasq_external_interfaces %}
auto {{ interface.device }}
{% if interface.type == "dhcp" %}
iface {{ interface.device }} inet dhcp
{% else %}
iface {{ interface.device }} inet static
    address {{ interface.address }}
    netmask {{ interface.netmask }}
{% if interface.broadcast is defined %}
    broadcast {{ interface.broadcast }}
{% endif %}
{% if interface.gateway is defined %}
    gateway {{ interface.gateway }}
{% endif %}
{% if interface.dns1 is defined and interface.dns2 is defined %}
    dns-nameservers {{ interface.dns1 }} {{ interface.dns2 }}
{% elif  interface.dns1 is defined %}
    dns-nameservers {{ interface.dns1 }}
{% endif %}
{% if interface.search is defined %}
    dns-search {{ interface.search }}
{% endif %}
{% endif %}
# end {{ interface.device }}

{% endfor %}

# Static DHCP Serving interfaces
{% for interface in dnsmasq_dhcp_networks %}
auto {{ interface.device }}
iface {{ interface.device }} inet static
    address {{ interface.address }}
    netmask {{ interface.netmask }}
    broadcast {{ interface.broadcast }}
{% if interface.gateway is defined %}
    gateway {{ interface.gateway }}
{% endif %}
# end {{ interface.device }}

{% endfor %}

# the end
