{#
   Copyright 2015 VMware, Inc.  All rights reserved.

   SPDX-License-Identifier: Apache-2.0 OR GPL-3.0-only
#}
# {{ ansible_managed }}
{% for h in dnsmasq_additional_hosts %}
{{ h.ipv4 }} {{ h.host }}
{% endfor %}
