{#
   Copyright 2015 VMware, Inc.  All rights reserved.

   SPDX-License-Identifier: Apache-2.0 OR GPL-3.0-only
#}
# {{ ansible_managed }}
# format: [<hwaddr>][,id:<client_id>|*][,set:<tag>][,<ipaddr>][,<hostname>][,<lease_time>][,ignore]
{% for d in dnsmasq_dhcp_reservations -%}
{{ d.mac }},{{ d.address }},{{ d.hostname }}
{% endfor -%}
