{#
   Copyright 2015 VMware, Inc.  All rights reserved.

   SPDX-License-Identifier: Apache-2.0 OR GPL-3.0-only
#}
# {{ ansible_managed }}
domain={{ dnsmasq_domain_name }}
{% if dnsmasq_nameservers is defined and dnsmasq_nameservers -%}
resolv-file={{ dnsmasq_etc_path }}/resolv.dnsmasq
{% endif -%}
dhcp-hostsfile={{ dnsmasq_dhcp_hosts_dir }}
expand-hosts
addn-hosts={{ dnsmasq_etc_path }}/hosts
min-port=4096
rebind-localhost-ok
dhcp-lease-max=255
dhcp-authoritative
log-queries
read-ethers
# ranges for one or more networks to which to serve DHCP
{% for d in dnsmasq_dhcp_networks -%}
interface={{ d.device }}
dhcp-range=tag:{{ d.device }},{{ d.range }},{{ d.netmask }},{{ d.lease }}
dhcp-option=tag:{{ d.device }},3,{{ d.dns }}
{% endfor -%}
{% for d in dnsmasq_dns_only -%}
interface={{ d }}
{% endfor -%}
{% for cn in dnsmasq_cnames %}
cname={{ cn.host }},{{ cn.target }}
{% endfor -%}
{% if dnsmasq_enable_tftp %}
dhcp-boot=pxelinux.0
enable-tftp
tftp-root=/tftp/pxeboot
{% if dnsmasq_tftp_unique_root %}
tftp-unique-root
{% endif -%}
{% endif -%}
