# {{ ansible_managed }}
{#
   Copyright 2015 VMware, Inc.  All rights reserved.

   SPDX-License-Identifier: Apache-2.0 OR GPL-3.0-only
#}
# {{ ansible_managed }}
{% for n in dnsmasq_external_interfaces -%} 
{% if n.dns1 is defined %}
nameserver {{ n.dns1 }}
{% endif %}
{% if n.dns2 is defined %}
nameserver {{ n.dns2 }}
{% endif %}
{% endfor -%}
